{% extends 'base.html' %}
{% load static %}
{% block title %}MyCoes Support{% endblock title %}
{% block meta_description %}Contact us for personalized assistance and dedicated support tailored to meet your unique business needs. We are here to provide you with top-notch guidance and solutions. {% endblock meta_description %}


{% block content %}

<div class="m-auto w-full sm:w-11/12 md:w-10/12 lg:w-9/12">
   <div class="mt-28 mx-6 sm:mt-32 md:mt-36">


    <div class="text-center">
      <p class="text-4xl sm:text-5xl font-OpenSans font-normal m-6 text-black dark:text-white">Find Your Answer</p>
    </div>
  

    <!-- General FAQ Section -->

    <div class="my-10">

    <div class="mt-14 mb-4">
      <p class="text-2xl sm:text-4xl font-OpenSans font-semibold text-black dark:text-white">General Questions</p>
    </div>



    <div id="accordion-flush" data-accordion="collapse" data-active-classes="text-black dark:text-white" data-inactive-classes="text-black dark:text-white">
      {% for faq in general_faqs %}
      <h2 id="accordion-flush-heading-{{ faq.id }}">
        <button type="button" class="flex items-center justify-between w-full py-5 text-left border-b border-gray-500 dark:border-gray-700"
          data-accordion-target="#accordion-flush-body-{{ faq.id }}" aria-expanded="false" aria-controls="accordion-flush-body-{{ faq.id }}">
          <span class="font-light text-xl sm:text-2xl font-OpenSans leading-normal sm:leading-normal tracking-wide text-black dark:text-white">
            {{ faq.question }}
          </span>
          <svg data-accordion-icon class="shrink-0 fill-black dark:fill-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
            <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"/>
          </svg>
        </button>
      </h2>
      <div id="accordion-flush-body-{{ faq.id }}" class="hidden" aria-labelledby="accordion-flush-heading-{{ faq.id }}">
        <div class="py-5 border-b border-gray-500 dark:border-gray-700">
          <p class="mb-2 text-base sm:text-lg font-OpenSans font-normal text-gray-800 leading-normal sm:leading-normal tracking-wide dark:text-white">
            {{ faq.answer }}
          </p>

          {% if faq.link_to %}
          <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
            <li><a href="{{ faq.link_to }}" class="text-blue-600 dark:text-blue-500 hover:underline">{{ faq.link_to_text }}</a></li>
           </ul>
          {% endif %}
          
        </div>
      </div>
      {% endfor %}
    </div>
       
</div>


<!-- Services FAQ Section -->

<div class="my-20">

  <div class="mt-14 mb-4">
    <p class="text-2xl sm:text-4xl font-OpenSans font-semibold text-black dark:text-white">Services Related</p>
  </div>



  <div id="accordion-flush" data-accordion="collapse" data-active-classes="text-black dark:text-white" data-inactive-classes="text-black dark:text-white">
    {% for faq in services_faqs %}
    <h2 id="accordion-flush-heading-{{ faq.id }}">
      <button type="button" class="flex items-center justify-between w-full py-5 text-left border-b border-gray-500 dark:border-gray-700"
        data-accordion-target="#accordion-flush-body-{{ faq.id }}" aria-expanded="false" aria-controls="accordion-flush-body-{{ faq.id }}">
        <span class="font-light text-xl sm:text-2xl font-OpenSans leading-normal sm:leading-normal tracking-wide text-black dark:text-white">
          {{ faq.question }}
        </span>
        <svg data-accordion-icon class="shrink-0 fill-black dark:fill-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
          <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-{{ faq.id }}" class="hidden" aria-labelledby="accordion-flush-heading-{{ faq.id }}">
      <div class="py-5 border-b border-gray-500 dark:border-gray-700">
        <p class="mb-2 text-base sm:text-lg font-OpenSans font-normal text-gray-800 leading-normal sm:leading-normal tracking-wide dark:text-white">
          {{ faq.answer }}
        </p>

        {% if faq.link_to %}
        <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
          <li><a href="{{ faq.link_to }}" class="text-blue-600 dark:text-blue-500 hover:underline">{{ faq.link_to_text }}</a></li>
         </ul>
        {% endif %}
        
      </div>
    </div>
    {% endfor %}
  </div>

</div>



<!-- Pricing FAQ Section -->

<div class="my-20">

  <div class="mt-14 mb-4">
    <p class="text-2xl sm:text-4xl font-OpenSans font-semibold text-black dark:text-white">Pricing Related</p>
  </div>



  <div id="accordion-flush" data-accordion="collapse" data-active-classes="text-black dark:text-white" data-inactive-classes="text-black dark:text-white">
    {% for faq in pricing_faqs %}
    <h2 id="accordion-flush-heading-{{ faq.id }}">
      <button type="button" class="flex items-center justify-between w-full py-5 text-left border-b border-gray-500 dark:border-gray-700"
        data-accordion-target="#accordion-flush-body-{{ faq.id }}" aria-expanded="false" aria-controls="accordion-flush-body-{{ faq.id }}">
        <span class="font-light text-xl sm:text-2xl font-OpenSans leading-normal sm:leading-normal tracking-wide text-black dark:text-white">
          {{ faq.question }}
        </span>
        <svg data-accordion-icon class="shrink-0 fill-black dark:fill-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
          <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-{{ faq.id }}" class="hidden" aria-labelledby="accordion-flush-heading-{{ faq.id }}">
      <div class="py-5 border-b border-gray-500 dark:border-gray-700">
        <p class="mb-2 text-base sm:text-lg font-OpenSans font-normal text-gray-800 leading-normal sm:leading-normal tracking-wide dark:text-white">
          {{ faq.answer }}
        </p>

        {% if faq.link_to %}
        <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
          <li><a href="{{ faq.link_to }}" class="text-blue-600 dark:text-blue-500 hover:underline">{{ faq.link_to_text }}</a></li>
         </ul>
        {% endif %}
        
      </div>
    </div>
    {% endfor %}
  </div>

</div>



<!-- Additional Services(gift) Section -->


<div class="my-20">

  <div class="mt-14 mb-4">
    <p class="text-2xl sm:text-4xl font-OpenSans font-semibold text-black dark:text-white">Additional Services(Gift) Related</p>
  </div>



  <div id="accordion-flush" data-accordion="collapse" data-active-classes="text-black dark:text-white" data-inactive-classes="text-black dark:text-white">
    {% for faq in additional_faqs %}
    <h2 id="accordion-flush-heading-{{ faq.id }}">
      <button type="button" class="flex items-center justify-between w-full py-5 text-left border-b border-gray-500 dark:border-gray-700"
        data-accordion-target="#accordion-flush-body-{{ faq.id }}" aria-expanded="false" aria-controls="accordion-flush-body-{{ faq.id }}">
        <span class="font-light text-xl sm:text-2xl font-OpenSans leading-normal sm:leading-normal tracking-wide text-black dark:text-white">
          {{ faq.question }}
        </span>
        <svg data-accordion-icon class="shrink-0 fill-black dark:fill-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
          <path d="M480-345 240-585l56-56 184 184 184-184 56 56-240 240Z"/>
        </svg>
      </button>
    </h2>
    <div id="accordion-flush-body-{{ faq.id }}" class="hidden" aria-labelledby="accordion-flush-heading-{{ faq.id }}">
      <div class="py-5 border-b border-gray-500 dark:border-gray-700">
        <p class="mb-2 text-base sm:text-lg font-OpenSans font-normal text-gray-800 leading-normal sm:leading-normal tracking-wide dark:text-white">
          {{ faq.answer }}
        </p>

        {% if faq.link_to %}
        <ul class="pl-5 text-gray-500 list-disc dark:text-gray-400">
          <li><a href="{{ faq.link_to }}" class="text-blue-600 dark:text-blue-500 hover:underline">{{ faq.link_to_text }}</a></li>
         </ul>
        {% endif %}
        
      </div>
    </div>
    {% endfor %}
  </div>

</div>


<!-- Contact button for support page -->

<div>
<div>
  <h3 class="text-5xl font-OpenSans font-normal leading-relaxed tracking-wide text-black dark:text-white">Can't find what you are looking for?</h3>
      </div>




<div class="mt-10 mb-20">
  <a href="{% url 'home:contact' %}" class="text-black dark:text-white hover:text-white dark:hover:text-black">
  <div class="text-center w-full py-5 sm:py-6 border border-black dark:border-white hover:bg-black dark:hover:bg-white">
    <p class="text-xl sm:text-2xl font-Inter font-light">Contact us</p>
  </div>
</a>
</div>

</div>
  
      </div>
  </div>
  
{% endblock content %}