{% extends 'base.html' %}
{% load static %}
{% block title %}Fullstack Web Development Services - MyCoes{% endblock title %}
{% block meta_description %}From UI design to SEO-driven content writing and robust web development, we offer comprehensive solutions to enhance user experience. Partner with us today and unleash the power of exceptional web solutions.{% endblock meta_description %}

{% block content %}
<div class="m-auto w-full md:w-10/12 lg:w-9/12 flex justify-center">
 <div>
  <div class="mt-28 sm:mt-40">

<div>
  <h1 class="text-5xl sm:text-6xl font-Inter font-bold tracking-wide leading-tight sm:leading-snug text-black dark:text-white m-4">
    There is a need for better user experience and new web solutions.</h1>
</div>
<div>
  <p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">
    We are on the mission of providing these things. We want to help with our design, content, and development, to build better web solutions that fulfill the needs.</p>
</div>



<div class="my-12">
  <a href="{% url 'user_profile:make-offer' %}" class="text-xl font-Inter font-normal text-white dark:text-black bg-black dark:bg-white py-5 px-24 exsm:px-28 hover:bg-slate-900 dark:hover:bg-slate-100 m-4">Make offer</a>
</div>



</div>
</div>
</div>


<div id="scrollToBottom" class="scroll-to-bottom fixed left-1/2 transform -translate-x-1/2 bottom-8 bg-black dark:bg-white p-3 rounded-full cursor-pointer z-30">
  <svg class="fill-white dark:fill-black" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
      <path d="M440-800v487L216-537l-56 57 320 320 320-320-56-57-224 224v-487h-80Z"/>
  </svg>
</div>

 <div class="bg-black dark:bg-white w-full flex justify-center my-10 sm:my-20">
  <div class="m-auto w-full md:w-10/12 lg:w-9/12 py-14 flex justify-center">
    <h2 class="text-4xl sm:text-5xl font-OpenSans font-normal leading-tight sm:leading-snug tracking-wide text-white dark:text-black m-4">We offer web design, content writing, and web development services.</h2>
  </div>
  </div>
 



  <div class="m-auto w-full md:w-10/12 lg:w-9/12 flex justify-center">
    <div class="mb-12">
    <div>
<h3 class="text-3xl font-OpenSans font-bold leading-relaxed tracking-wide text-black dark:text-white m-4">User Interface (UI)</h3>
    </div>
    <div class="mt-6">
<p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">We design a good UI that suits your brand identity and strategy. As you suggest we do. A good UI that tells your story, and goals and communicates with your end reacher MyCoes helps to build that.</p>
    </div>
  </div>
  </div>



<div class="w-full flex justify-center mb-12">
    <div class="w-full md:w-10/12 lg:w-9/12">
    <div>
<h3 class="text-3xl font-OpenSans font-bold tracking-wide leading-relaxed text-black dark:text-white m-4">User Experience (UX)</h3>
    </div>
    <div class="mt-6">
<p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">Not only we build better UI, but We also build better User Experience that helps your End users. By having awareness of your goals and brand we build better User Experience.</p>
    </div>
  </div>
  </div>




  <div class="w-full flex justify-center mb-12">
    <div class="w-full md:w-10/12 lg:w-9/12">
    <div>
<h3 class="text-3xl font-OpenSans font-bold tracking-wide text-black leading-relaxed dark:text-white m-4">Content writing & SEO</h3>
    </div>
    <div class="mt-6">
<p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">A good UI and UX can’t help you reach your web goals, You need good content with good onsite SEO. We write unique content that can be clearly understood and helps to rank on search engines, with sitemaps.</p>
    </div>
  </div>
  </div>




  <div class="w-full flex justify-center mb-12">
    <div class="w-full md:w-10/12 lg:w-9/12">
    <div>
<h3 class="text-3xl font-OpenSans font-bold tracking-wide leading-relaxed text-black dark:text-white m-4">Web developemnt</h3>
    </div>
    <div class="mt-6">
<p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">We have good design and content, Now we can move towards building the site. The most essential part. We write clean and understandable code that can be modified and changed by any web developer in the future if you need it. The website will be fast and smooth with a good backend that helps to build a good User experience.</p>
    </div>
  </div>
  </div>




  <div class="w-full flex justify-center mb-12">
    <div class="w-full md:w-10/12 lg:w-9/12">
    <div>
<h3 class="text-3xl font-OpenSans font-bold tracking-wide leading-relaxed text-black dark:text-white m-4">AWS & DigitalOcean Hosting</h3>
    </div>
    <div class="mt-6">
<p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">We are currently limited to AWS & DigitalOcean hosting, In the future we are going to offer many different hostings. If you are interested in AWS & DigitalOcean hosting we are going to help you with that, and still, if you want other hosting we manage for you.</p>
    </div>
  </div>
  </div>


  <div class="w-full flex justify-center mb-12">
    <div class="w-full md:w-10/12 lg:w-9/12">
    <div>
<h3 class="text-3xl font-OpenSans font-bold tracking-wide leading-relaxed text-black dark:text-white m-4">An Overview Help (Gift)</h3>
    </div>
    <div class="mt-6">
<p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">
  This service we provide as a gift for our client. helping them with any web-related problem. Finding solutions to their problem and suggesting to improve continuously to make a better website. helping to submit sitemaps, creating Social media Auths, adding live chats, designing logos, etc.</p>
    </div>
  </div>
  </div>



  <div class="w-full flex justify-center mb-12">
    <div class="w-full md:w-10/12 lg:w-9/12">
    <div>
<h2 class="text-3xl font-OpenSans font-bold leading-relaxed tracking-wide text-black dark:text-white m-4">What do we use to build the website?</h2>
    </div>

    <div class="mt-6">
    <div>
<p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">For Design - we use Figma.</p>
    </div>

    <div class="my-5">
      <p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">For Content Writing & SEO - we use Grammarly, and Google Keyword Planner.</p>
    </div>

    <div class="my-5">
     <p class="text-xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">For Web development - we use HTML, CSS, Javascript, Tailwindcss, Bootstrap, Django, Python, MySql, PostgreSQL.</p>
    </div>

        </div>
      
  </div>
  </div>




  <div class="flex justify-center mx-4">

    <div class="w-full md:w-10/12 lg:w-9/12 mt-8 mb-10 sm:mt-12 sm:mb-20">
    <div>
<h3 class="text-4xl sm:text-5xl font-OpenSans font-normal leading-relaxed sm:leading-relaxed tracking-wide text-black dark:text-white">Let us discuss what you want to build.</h3>
    </div>

    <div class="mt-10">
      <a href="{% url 'home:contact' %}" class="text-black dark:text-white hover:text-white dark:hover:text-black">
      <div class="text-center w-full py-5 sm:py-6 border border-black dark:border-white hover:bg-black dark:hover:bg-white">
        <p class="text-xl sm:text-2xl font-Inter font-light">Contact us</p>
      </div>
    </a>
    </div>
    
  </div>
  </div>




{% endblock content %}