{% comment %} <nav  class="bg-white dark:bg-black border-b border-slate-400 dark:border-slate-800 z-50 fixed w-full">
  <div class="w-full md:w-10/12 lg:w-9/12 flex flex-wrap items-center justify-between mx-auto my-auto max-md:px-4 py-4">
    
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="font-OpenSans font-extrabold text-4xl text-black dark:text-white">MyCoes</span>
  </a>
    <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-full lg:hidden hover:bg-gray-200 focus:outline-none dark:text-gray-400 dark:hover:bg-gray-700" aria-controls="navbar-solid-bg" aria-expanded="false">
        <span class="sr-only">menu</span>
        <svg class="w-5 h-5 fill-black dark:fill-white" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 26 26">
          <path d="M 0 4 L 0 6 L 26 6 L 26 4 Z M 0 12 L 0 14 L 26 14 L 26 12 Z M 0 20 L 0 22 L 26 22 L 26 20 Z"></path>
          </svg>

    </button>
    <div class="hidden w-full lg:block lg:w-auto" id="navbar-solid-bg">
      <ul class="flex flex-col font-medium mt-16 rounded-lg lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 lg:bg-transparent lg:dark:bg-transparent">
        
        <li><a href="/" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">Home</a></li>
        <li><a href="{% url 'home:about' %}" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">About us</a></li>
        <li><a href="{% url 'home:services' %}" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">Services</a></li>
        <li><a href="{% url 'home:pricing' %}" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">Pricing</a></li>
        <li><a href="{% url 'home:contact' %}" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">Contact</a></li>
        <li><a href="{% url 'user_profile:offers-billing' %}" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">Profile</a></li>
        
      </ul>
    </div>
  </div>
</nav> {% endcomment %}



<nav  class="bg-teal-100 dark:bg-black border-b border-slate-400 dark:border-slate-800 z-50 fixed w-full">
  <div class="w-full md:w-10/12 lg:w-9/12 flex flex-wrap items-center justify-between mx-auto my-auto max-md:px-4 py-4">
    
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span class="font-OpenSans font-extrabold text-4xl text-black dark:text-white">MyCoes</span>
  </a>
    <button data-collapse-toggle="navbar-solid-bg" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-full lg:hidden hover:bg-gray-200 focus:outline-none dark:text-gray-400 dark:hover:bg-gray-700" aria-controls="navbar-solid-bg" aria-expanded="false">
        <span class="sr-only">menu</span>
        <svg class="w-5 h-5 fill-black dark:fill-white" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="100" viewBox="0 0 26 26">
          <path d="M 0 4 L 0 6 L 26 6 L 26 4 Z M 0 12 L 0 14 L 26 14 L 26 12 Z M 0 20 L 0 22 L 26 22 L 26 20 Z"></path>
          </svg>

    </button>
    <div class="hidden w-full lg:block lg:w-auto" id="navbar-solid-bg">
      <ul class="flex flex-col font-medium mt-16 rounded-lg lg:space-x-8 rtl:space-x-reverse lg:flex-row lg:mt-0 lg:border-0 lg:bg-transparent lg:dark:bg-transparent">
        
        <li><a href="/" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">Home</a></li>
        <li><a href="#home" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">About us</a></li>
        <li><a href="#services" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">Services</a></li>
        <li><a href="#pricing" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">Pricing</a></li>
        <li><a href="#contact" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">Contact</a></li>
        <li><a href="{% url 'user_profile:offers-billing' %}" class="font-Roboto tracking-wider font-light text-xl text-black dark:text-white lg:hover:underline block py-2 px-3 lg:p-0 lg:hover:bg-transparent lg:border-0  dark:hover:text-white lg:dark:hover:bg-transparent border-b border-gray-600 max-lg:pt-8 max-lg:hover:bg-gray-200 max-lg:dark:hover:bg-gray-700">Profile</a></li>
        
      </ul>
    </div>
  </div>
</nav>