{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="w-full xsm:w-r26 p-8 m-auto mt-20 sm:mt-32 mb-7 sm:mb-14 sm:border rounded-md border-gray-500 dark:border-gray-800">
  <div class="flex justify-center">
    <div class="w-full">
      <div class="text-center mb-6">
        <h1 class="font-OpenSans font-semibold text-4xl text-black dark:text-white">Log In</h1>
      </div>

      
      
      <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">

          <a href="{% url 'social:begin' 'google-oauth2' %}" class="bg-white dark:bg-black border border-black dark:border-white text-2xl font-Roboto font-light text-black dark:text-white focus:ring-black focus:border-black flex items-center justify-center w-full py-3.5 px-3 dark:focus:ring-white dark:focus:border-white mb-5 mt-10">
            <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/sign_in-svg2.svg" alt="google">
            <p class="text-lg font-medium ml-4 text-black dark:text-white">Continue with Google</p>
          </a>

        </ul>
      </div>
    
    

      <form action="{% url 'magiclink:login' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}" method="post">
        {% csrf_token %}
    
        <div>
            <ul class="text-red-500 py-2">
                <li>{{ form.non_field_errors | safe }}</li>
            </ul>
        </div>
    
        <div class="mb-4">
          <label class="block mb-4 font-OpenSans text-xl font-normal text-black dark:text-white">Email</label>
            <input type="email" name="email" required class="bg-white dark:bg-black border border-black dark:border-white text-xl font-Roboto font-light text-black dark:text-white focus:ring-black focus:border-black  block w-full p-3 dark:focus:ring-white dark:focus:border-white mb-5">
            {% if form.email.errors %}
                <ul class="text-red-500">
                    {% for error in form.email.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    
        <div class="mt-4">
            <button type="submit" class="text-xl font-Inter font-normal text-white dark:text-black bg-black dark:bg-white hover:bg-slate-900 dark:hover:bg-slate-100 w-full py-4 mb-2">Continue</button>
          </div>
        
    </form>
    
    
     
    </div>
  </div>
</div>
{% endblock content %} 


