{% extends 'base.html' %}
{% load static %}

{% block title %}Login link sent{% endblock %}

{% block content %}


<div class="m-auto w-11/12 md:w-10/12 lg:w-8/12 flex justify-center">
    <div>
     <div class="mt-36 mb-24 sm:mb-26 sm:mt-40">
   
   <div>
     <h1 class="text-4xl sm:text-5xl font-Inter font-bold tracking-wide leading-tight text-black dark:text-white m-4">
        Check your email</h1>
   </div>
   <div>
     <p class="text-2xl font-Content font-normal leading-relaxed text-black dark:text-white m-4">
            We have sent you a login link to your email address<br />
            Click the link to login automatically.
        </p>
   </div>
   
   <div class="mb-12 mt-8 mx-4">
     <a href="{% url 'home:contact' %}" class="text-xl font-Inter font-normal text-white dark:text-black bg-black dark:bg-white py-5 px-20 rounded-full hover:bg-slate-900 dark:hover:bg-slate-100">Contact us</a>
   </div>
   
   
   </div>
   </div>
   </div>
{% endblock content %} 


